@import url("histyle.css");

body {
background-color: white;
color: black;
font-family: Times, serif;
}

h1, h2, h3, h4, h5, h6 {
font-family: Helvetica, sans-serif;
}

h1 {
font-family: "Arial";
font-size: 22pt;
margin-bottom: 12pt;
font-weight: bold;
margin-top: 22pt;
}

h2 {
font-weight: bold;
margin-top: 22pt;
font-size: 14pt;
margin-bottom: 14pt;
font-family: "Arial";
}

h3 {
font-weight: bold;
margin-top: 22pt;
font-size: 12pt;
margin-bottom: 14pt;
font-family: "Arial";
}

div.main {
padding-top: 1em;
padding-bottom: 1em;
padding-left: 5em;
padding-right: 5em;
}

div.index {
padding: 0.5em;
background-color: black;
color: white;
text-align: center;
}

div.banner {
width: 100%;
padding: 0.5em;
background-color: black;
color: white;
top: 0;
bottom: auto;
}

div.search {
padding-top: 0.5em;
padding-bottom: 1em;
padding-left: 0em;
padding-right: 5em;
}

a.bars {
color: white;
}
