*.lo
*.la
*.o
*~
/*.diff
Makefile
Makefile.in
.libs
.deps

# /
/nbproject
/configure
/depcomp
/autogen.err
/config.*
/compile
/ltmain.sh
/INSTALL
/test-driver
/py-compile
m4/plugin-configure.m4
m4/plugin-makefiles.m4
m4/plugin-list.m4
m4/aclocal.m4
/libabiword.pc
/stamp-*
/autom4te.cache
/libtool
/missing
/install-sh
/doltlibtool
/doltcompile
m4/plugin-builtin.m4
m4/libtool.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/ltoptions.m4
/shave
/abiword-?.?.pc
m4/lt~obsolete.m4
/.project
/.cproject

/plugins/collab/backends/telepathy/unix/org.freedesktop.Telepathy.Client.AbiCollab.service

# /po/
/po/messages.mo
/po/*.strings


/src/AbiWord
/src/abiword
/src/af/xap/cocoa/*~.nib
/src/wp/ap/cocoa/*~.nib
/src/wp/main/cocoa/*~.nib
/src/plugins/abi-builtin-plugins-decls.inc
/src/plugins/abi-builtin-plugins-calls.inc
/src/plugins/builtin-stamp
/src/wp/ap/xp/ap_wp_sidebar.cpp
/src/wp/ap/xp/ToolbarIcons/*.png
/src/wp/main/cocoa/bundle/Info.plist
