[Desktop Entry]
Name=Word Processor
Name[de]=Textverarbeitung
Name[pt]=Processador de Texto
Comment=AbiWord Word Processor
Comment[de]=AbiWord Textverarbeitung
Comment[pt]=Processor de Texto AbiWord
Exec=abiword
Icon=abiword_48.png
Terminal=false
Type=Application
Categories=Application;Office;WordProcessor;X-Red-Hat-Base;
StartupNotify=true
Encoding=UTF-8

