<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>W6BN</string>
				<string>WDBN</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>doc</string>
				<string>DOC</string>
				<string>dot</string>
				<string>DOT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DOCDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zabw</string>
				<string>ZABW</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AbiWord Compressed Document Format</string>
			<key>CFBundleTypeOSTypes</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<array>
				<string>Gzip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>abw</string>
				<string>ABW</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ABWDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>AbiWord Document Format</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>AbiW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
				<string>RTF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>RTFDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>AbiWord RTF Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTF </string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Abi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ABWPlugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>AbiWord Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>AbiWord</string>
	<key>CFBundleIconFile</key>
	<string>AbiWord.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.AbiSource.AbiWord</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleInfoPlistVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AbiWord</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>AbiW</string>
	<key>CFBundleVersion</key>
	<string>2.1.3</string>
        <key>NSMainNibFile</key>
        <string>MainMenu</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
</dict>
</plist>
