<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>abw</string>
				<string>ABW</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ABWDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>AbiWord Document Format</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AbiW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>AbiWord</string>
	<key>CFBundleGetInfoString</key>
	<string>AbiWord.</string>
	<key>CFBundleIconFile</key>
	<string>AbiWord.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleInfoPlistVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AbiWord</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>AbiW</string>
</dict>
</plist>
