[Desktop Entry]
Name=AbiWord
Name[da]=AbiWord
Name[de]=AbiWord
Comment=AbiWord Wordprocessor
Comment[da]=AbiWord tekstbehandlingsprogram
Comment[de]=AbiWord Textverarbeitungsprogramm
Comment[fr]=Traitement de texte AbiWord
Comment[pt]=Processador de Texto Abiword
Comment[sv]=Ordbehandlaren Abiword
Exec=abiword
Icon=abiword_48.png
Terminal=0
Type=Application
Categories=Application;Office;WordProcessor;X-Red-Hat-Base;
StartupNotify=true
